<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
<header><a href="/"><img alt="SpaceMan" src="/img/face.webp" height="80"></a></header>
<nav>
 <ul>
    <li> <a href="/" style="text-decoration: none"> Home </a> <br> </li>
    <li> <a href="/notes/" style="text-decoration: none"> Notes </a> <br> </li>
  </ul>
</nav>
	<main>
	{{ content | safe }}
	</main>
</body>
</html>
